<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header navbar-right">
            <span>hello {{userInfo.fullName}}</span>
            <img [src]="userInfo.userUrlAvatar" />
        </div>
        <div id="myNavbar">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a routerLink="/bookStore/account">My-Account</a>
                </li>
                <li>
                    <a routerLink="/bookStore/products">Products</a>
                </li>
                <li>
                    <a routerLink="/bookStore/home">Home</a>
                </li>
                <li>
                    <a href="/managmentSystem">Managnent</a>
                </li>
            </ul>
        </div>
    </div>
</nav>