{% extends "admin/index.html" %} {% block custom_views %}
<div class="grp-module" id="custom_views">
  <h2>Utilities</h2>
  <div class="grp-row">
    <a href="/root/upload/gmails"><strong>Upload Gmails</strong></a>
  </div>
  <div class="grp-row">
    <a href="/root/upload/proxies"><strong>Upload Proxies</strong></a>
  </div>
</div>

    <div class="grp-module" id="custom_views">
  <h2>Planner</h2>
  <div class="grp-row">
    <a href="/root/planner"><strong>Create Planner</strong></a>
  </div>
</div>
{% endblock %}
